* {
	box-sizing: border-box;
}

:root {
	--primary-color: #1f2833;
	--secondary-color: #952e6b;
	--light-blue: #db2b8e;
	--black: #0b0c10;
	--grey: #c5c6c7;
	--f-size-main: 1.125rem;
	--f-weight-main: 400;
	--l-height-main: 1.4;
	--h2-size: 1.313rem;
}

html {
	font-size: 16px;
	overflow-x: hidden;
}

main {
	overflow-y: hidden;
}

body {
	/* background-color: var(--primary-color); */
	font-family: 'Roboto', sans-serif;
	font-weight: var(--f-weight-main);
	font-size: var(--f-size-main);
	line-height: var(--l-height-main);
	overflow-x: hidden;
	position: relative;
	margin: auto;
}

h1 {
	color: var(--light-blue);
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	line-height: 120%;
	margin: 0.313rem auto;
}

@media all and (min-width: 786px) {
	h1 {
		font-size: 5.3rem;
	}
}

h2 {
	color: var(--light-blue);
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	font-family: Roboto, san-serif;
	margin: 0.3125rem auto;
}

@media all and (min-width: 786px) {
	h2 {
		font-size: 3rem;
	}
}

/* ------------       Components       ------------ */

.mh-logo {
	border-radius: 35px;
	width: 4.1rem;
	height: 4.1rem;
	flex: 0;
	margin-top: 20px;
	margin-left: 20px;
	z-index: 1000;
}

.credit {
	text-align: center;
	padding-top: 20px;
}

.projects .credit p a {
	color: #fff;
}

a {
	color: var(--light-blue);
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.nav-desktop {
	display: none;
	max-width: 1150px;
	font-size: 1.25rem;
}

.hero-wrapper .mh-logo {
	margin-top: 7px;
}

nav a {
	color: var(--primary-color);
}

nav a.active {
	transform: unset;
}

.nav-mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-mobile a.active {
	color: var(--light-blue);
}

#hamburger {
	height: 40px;
	width: 40px;
	margin: 20px;
	float: right;
	cursor: pointer;
	display: none;
	grid-template-rows: 1fr 1fr 1fr;
}

@media all and (max-width: 800px) {
	#hamburger {
		display: grid;
	}
}
#hamburger:hover .row1,
#hamburger:hover .row2,
#hamburger:hover .row3,
#hamburger:focus .row1,
#hamburger:focus .row2,
#hamburger:focus .row3 {
	background-color: var(--light-blue);
}

#hamburger:hover .row2.transparent,
#hamburger:focus .row2.transparent {
	background-color: transparent;
}
#hamburger:hover .row1.rotateRight,
#hamburger:hover .row3.rotateLeft,
#hamburger:focus .row1.rotateRight,
#hamburger:focus .row3.rotateLeft {
	background-color: var(--primary-color);
}

.row1,
.row2,
.row3 {
	background-color: #ee9dc8;
	z-index: 1000;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-duration: 0.5s;
}

.row1.rotateRight {
	background-color: var(--secondary-color);
	transform: rotate(45deg);
	transform-origin: 0;
	left: 15px;
	position: relative;
}

.row3.rotateLeft {
	background-color: var(--light-blue);
	transform: rotate(-45deg);
	transform-origin: 0;
	left: 15px;
	bottom: -3px;
	position: relative;
}

.row2.transparent {
	background-color: transparent;
}

@media all and (min-width: 786px) {
	.nav-desktop {
		display: flex;
	}
	.nav-mobile {
		display: none;
	}
}

.menu-l-item {
	transition: transform 0.2s, color 0.2s;
	margin-right: 30px;
	text-decoration: none;
}

.menu-l-item.active {
	color: var(--light-blue);
	font-weight: 700;
	transform: scale(1.3);
}

.menu-l-item:hover,
.menu-l-item:focus {
	display: inline-block;
	color: var(--light-blue);
	transform: scale(1.3);
}

.primary_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.325rem;
	font-weight: 700;
	min-width: 17.25rem;
	max-width: 150px;
	margin: 0.75rem auto;
	padding: 1rem 1.25rem;
	border-bottom: 2px solid #772c64;
	border-right: 2px solid #772c64;
	margin-bottom: 3.75rem;
	background-color: var(--primary-color);
	transition: all 0.2s ease-in-out, font-size 0.4s ease-in-out,
		padding 0.4s ease-in-out;
	border-radius: 100px;
	box-shadow: 7px -4px 7px 0px rgba(255, 255, 255, 0.25) inset,
		0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.primary_button:hover,
.primary_button:focus {
	background-color: var(--secondary-color);
	color: #fff;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	box-shadow: 7px -4px 7px 0px rgba(255, 255, 255, 0.25) inset,
		0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.hero-wrapper {
	margin: auto;
	max-width: 1200px;
	width: 100%;
	height: 80px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}

/* ------------------   homepage     ----------------- */

/* ------------------ welcome ----------------- */

.welcome {
	background-color: var(--primary-color);
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 99;
	overflow: hidden;
}

/* .maze-wrapper {
	position: relative;
} */
/* style.css */
.gameContainer {
	/* width: 400px; */
	/* height: 400px; */
	position: relative;
	/* background-color: #f0f0f0; */
	position: absolute;
	/* border-radius: 50%; */
}

.welcome .img-wrapper {
	position: relative;
}
.wall {
	/* background-color: #fff; */
}

.end {
	position: absolute;
	color: green;
	top: 65px;
	left: 103px;
}

.ball {
	width: 10px;
	height: 10px;
	background-color: blue;
	position: absolute;
	border-radius: 50%;
}

/* canvas {
	border: 1px solid #000;
	transform-origin: center;
} */

.welcome-ball {
	background-color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 79px;
}

.homePage .hero {
	width: 100vw;
	position: relative;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

.hero {
	-webkit-box-shadow: 1px 6px 63px 8px rgba(31, 40, 51, 0.71);
	box-shadow: 1px 6px 63px 8px rgba(31, 40, 51, 0.71);
}

.homePage .hero-wrapper {
	background-color: var(--primary-color);
}

.homePage .menu-l-item {
	color: white;
}

.homePage .menu-l-item.active {
	color: var(--light-blue);
}

.title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

@media all and (min-width: 786px) {
	.title-wrapper {
		margin-top: 80px;
	}
}

.title-wrapper .title {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-position: center;
	color: transparent;
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 0.2px #fff;
	width: 100%;
	z-index: 50;
	overflow: hidden;
}

.experiment {
	display: block;
	white-space: nowrap;
	position: absolute;
	top: 0;
	animation: switchElements 8s infinite;
}

.frontend {
	opacity: 0;
	animation: switchElements 8s infinite;
	animation-delay: 4s;
}

/* Define the animation */
@keyframes switchElements {
	0% {
		/* display: none; */
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		/* display: none; */
		opacity: 0;
	}
}

.profile {
	position: relative;
	display: flex;
	flex-direction: column;
}

.profile_paragraph_wrapper {
	margin: 50px auto 0px;
	width: 90%;
	max-width: 800px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #d9d9d9;
	background: #fff;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	line-height: 170%;
	text-indent: 50px;
}

@media all and (min-width: 786px) {
	.profile_paragraph_wrapper {
		margin: 140px auto 60px;
		width: 80%;
		padding: 40px;
	}
}

.background {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	background-color: #db2b8e78;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

/* ------------------   about me     ----------------- */

.about {
	background-color: var(--primary-color);
}

.about .hero {
	width: 100%;
	background: #fff;
}

.about main {
	background-color: var(--primary-color);
}
.about_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin: auto;
}

.about_wrapper .container {
	display: flex;
	position: absolute;
	justify-content: center;
	min-width: 100%;
}

.about_wrapper .container .map .map_wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.about_wrapper .container .map {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #efedea;
	border-radius: 20px;
	margin: calc(100vh * 0.05) auto;
	width: 100%;
	max-width: 90%;
	height: 100vh;
	max-height: 800px;
	box-shadow: 6px 6px 17px 1px #626870;
	padding: 60px;
	text-indent: 40px;
	line-height: 150%;
	z-index: 9;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#marker {
	background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.map_picture_container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 4;
}

.about_wrapper .overlay.active {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 4;
}

.map_picture_container .travel-wrapper {
	border-radius: 20px;
	background-color: var(--primary-color);
	width: 80%;
	position: relative;
}

.map_picture_container .img-wrapper {
	display: none;
	width: 100%;
	padding: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.map_picture_container .img-wrapper.active {
	display: flex;
}

.map_picture_container img {
	width: 80%;
	height: auto;
	border-radius: 20px;
}

.map_picture_container .iceland img,
.map_picture_container .cr img,
.map_picture_container .kc img,
.map_picture_container .lima img,
.map_picture_container .painted img {
	width: 60%;
}

.map_picture_container .subtitle {
	color: #fff;
	padding: 10px;
	font-weight: 700;
}

.primary_button#btn-spin {
	margin: 20px auto 0;
	color: #fff;
}

.primary_button#btn-spin:focus {
	outline-color: var(--secondary-color);
}

.about_wrapper .container .note,
.about_wrapper .container .frame {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #efedea;
	border-radius: 20px;
	margin: calc(100vh * 0.05) auto;
	width: 90%;
	max-width: 900px;
	min-height: 350px;
	box-shadow: 6px 6px 17px 1px #626870;
	padding: 60px;
	text-indent: 40px;
	line-height: 150%;
	z-index: 9;
}

.note h2 {
	margin-bottom: 30px;
}

.note ul {
	list-style-type: none;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}

@media all and (min-width: 786px) {
	.about_wrapper .container .note {
		max-width: 800px;
	}
}

.about_wrapper .carousel-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_wrapper .carousel-frame img {
	width: 800px;
	z-index: 3;
	cursor: default;
	pointer-events: none;
}

.about_wrapper .carousel-inner {
	height: 500px;
}
.about_wrapper .carousel-item {
	background-color: var(--primary-color);
}

.about_wrapper .carousel-indicators {
	bottom: 40px;
}

.about_wrapper .close {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	right: 40px;
	top: 40px;
	overflow: hidden;
	background: #ccc;
	border-radius: 2px;
	border: solid 2px #efedea;
	transition: all 0.3s ease-out;
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 2;
}

.about_wrapper .close:hover {
	background: var(--light-blue);
	transform: rotate(90deg);
}

.about_wrapper .close b {
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	border: solid 8px rgba(255, 255, 255, 0);
}

.about_wrapper .close b:nth-child(1) {
	border-top-color: #efedea;
	top: -2px;
}
.about_wrapper .close b:nth-child(2) {
	border-left-color: #efedea;
	left: -2px;
}
.about_wrapper .close b:nth-child(3) {
	border-bottom-color: #efedea;
	bottom: -2px;
}
.about_wrapper .close b:nth-child(4) {
	border-right-color: #efedea;
	right: -2px;
}

.about_wrapper .room_img {
	margin: auto;
	width: 100%;
	max-width: 1025px;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
}

@media all and (max-width: 1024px) {
	.about_wrapper .room_img {
	}
}
.about_wrapper .room_img svg {
	width: 100%;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: -90px;
}

@media all and (max-width: 1024px) {
	.about_wrapper .room_img svg g:hover {
		background-color: blue;
		/* width: 100%; */
	}
}

.about_wrapper .travel-wrapper .close {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	right: 40px;
	top: 40px;
	overflow: hidden;
	background: #ccc;
	border-radius: 2px;
	border: solid 2px var(--primary-color);
	transition: all 0.3s ease-out;
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 2;
}

.about_wrapper .travel-wrapper .close:hover {
	background: var(--light-blue);
	transform: rotate(90deg);
}

.about_wrapper .travel-wrapper .close b {
	border: solid 8px rgba(255, 255, 255, 0);
}

.about_wrapper .travel-wrapper .close b:nth-child(1) {
	border-top-color: var(--primary-color);
}
.about_wrapper .travel-wrapper .close b:nth-child(2) {
	border-left-color: var(--primary-color);
}
.about_wrapper .travel-wrapper .close b:nth-child(3) {
	border-bottom-color: var(--primary-color);
}
.about_wrapper .travel-wrapper .close b:nth-child(4) {
	border-right-color: var(--primary-color);
}

.glow_wrapper.wait {
	filter: drop-shadow(3px 3px var(--light-blue));
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}

.glow_wrapper:hover {
	filter: drop-shadow(16px -9px 33px var(--light-blue));
	cursor: pointer;
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}

.glow_wrapper {
	z-index: 2;
}

.glow_wrapper.computer:hover {
	/* filter: drop-shadow(35px 35px 20px green); */
	filter: drop-shadow(3px 3px white) drop-shadow(-3px -3px white);
}

@media all and (max-width: 1024px) {
	.glow_wrapper-mobile.wait {
		filter: drop-shadow(3px 3px var(--light-blue));
		-webkit-animation: glow 2s ease-in-out infinite alternate;
		-moz-animation: glow 2s ease-in-out infinite alternate;
		animation: glow 2s ease-in-out infinite alternate;
	}

	.glow_wrapper-mobile:hover {
		filter: drop-shadow(16px -9px 33px var(--light-blue));
		cursor: pointer;
		-webkit-animation: glow 2s ease-in-out infinite alternate;
		-moz-animation: glow 2s ease-in-out infinite alternate;
		animation: glow 2s ease-in-out infinite alternate;
	}

	.glow_wrapper-mobile {
		z-index: 2;
		/* filter: drop-shadow(3px 3px white) drop-shadow(-3px -3px white); */
	}
}

@-webkit-keyframes glow {
	from {
		/* filter: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
		filter: drop-shadow(16px -9px 33px #fff);
	}
	to {
		filter: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
			0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

/* svg path:hover {
	fill: #db2b8e;
} */

/* ------------------   projects     ----------------- */

body.projects {
	background-color: var(--secondary-color);
	transition: background-color 0.5s;
}

.projects .hero {
	width: 100%;
	background: #fff;
}

.projects section h1 {
	font-size: 5rem;
	margin: 30px auto;

	text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
		-1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.projects main {
	overflow-x: visible;
}
.projects .toggleTab {
	display: flex;
	display: none;
	justify-content: center;
	width: 100%;
	margin: 50px auto;
	gap: 24px;
}

.projects .toggleTab button {
	background-color: transparent;
	padding: 6px 20px;
	border-radius: 100px;
	font-size: 1.125rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.projects .toggleTab button.active {
	background-color: var(--light-blue);
	color: white;
}

.projects-wrapper {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin-top: 80px;
	min-height: 300px;
}

.projects-rolodex {
	width: 90%; /* Adjust width as needed */
	max-width: 650px;
	height: 500px; /* Adjust height for viewing window */
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc; /* Just for visibility */
	display: flex;
	justify-content: center;
	background-color: #fff;
	border-radius: 8px;
}

.projects-wrapper .btnSection {
	display: flex;
	position: absolute;
	top: -65px;
	align-items: center;
	gap: 10px;
}

.projects-wrapper button {
	border: 2px solid var(--primary-color);
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: #fff;
	transition: background-color 0.5s;
}

.projects-wrapper button:hover {
	background-color: var(--light-blue);
}

.projects-wrapper button svg {
	height: 40px;
	width: 40px;
}

.projectsList {
	list-style: none;
	padding: 0;
	margin: 0;
	/* Transition for smooth scrolling effect */
	transition: transform 0.5s ease;
}

.projectsList ul > div {
	/* display: none; */
}
.projectsList ul > div {
	display: flex;
}

.projectsList .experiment-projects {
	display: none;
}

.projectsList li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 20px;
	height: 90%;
	border-bottom: 2px solid #eee;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.projectsList li img {
	width: 500px;
	height: 300px;
	transition: opacity 0.3s;
}

.projectsList li img.projects-active {
	top: 45px;
	left: 20px;
}

.projectsList li[data-id='chat'] img {
	width: 196px;
}

.projectsList li[data-id='chat'] img.projects-active {
	left: 172px;
}

.movie_img {
	border: 1px solid var(--secondary-color);
	border-radius: 3px;
}

.static {
	position: relative;
	border: 1px solid var(--secondary-color);
	border-radius: 3px;
	z-index: 2;
	transition-property: opacity;
	transition-delay: 0.9s;
}

.chat-static:hover,
.static:hover,
.chat-static:focus,
.static:focus {
	opacity: 0;
}

.chat-static {
	position: relative;
	width: 7.25rem;
	height: 12.5rem;
	z-index: 2;
}

.projects-active,
.chat-active {
	position: absolute;
	width: inherit;
	height: inherit;
	border: 1px solid var(--secondary-color);
	border-radius: 3px;
	top: 0;
	left: 0;
}

@media all and (max-width: 450px) {
	.projects-active,
	.chat-active {
		display: none;
	}

	.chat-static:hover,
	.static:hover,
	.chat-static:focus,
	.static:focus {
		opacity: 0.8;
	}
}

.projectsList li .project-header {
	font-size: 2rem;
	font-family: inherit;
	font-weight: 200;
}

/* ------------------   contact     ----------------- */

.contact footer {
	background-color: var(--primary-color);
}

.contact .top-background {
	background-color: var(--primary-color);
	height: 50%;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	clip-path: polygon(0 0%, 100% 0, 100% 55%, 69% 100%, 35% 100%, 0 57%);
	z-index: -1;
}

.contact .bottom-background {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	clip-path: polygon(50% 0%, 100% 90%, 100% 100%, 0 100%, 0% 90%);
	background-color: var(--primary-color);
	height: 50%;
	z-index: -1;
}

.contact .leftover-background {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 76%;
	z-index: -2;
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-position: center;
	background-size: contain;
}

.contact-para {
	text-align: center;
	margin: 20px auto;
	max-width: 70%;
}

@media all and (max-width: 630px) {
	.contact-para {
		padding: 10px 30px;
	}
}

.contact-me {
	display: flex;
	flex-direction: column;
	box-shadow: 9px 10px 17px 1px #4b525b;
	margin: 30px auto;
	padding: 1.25rem;
	max-width: 53.125rem;
	min-width: 20.625rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	background-color: #fff;
}

.form-label {
	width: 85%;
	text-align: left;
	padding-bottom: 10px;
	display: block;
	margin: 2rem auto 0;
	font-size: 1.5625rem;
	color: var(--primary-color);
}

.form-label:after {
	font-size: 60%;
	vertical-align: top;
	content: '*';
}

.contact form input,
.contact form textarea {
	border-radius: 20px;
	padding: 0.9375rem;
	width: 90%;
}

#contact-message {
	margin-bottom: 2.5rem;
}

.contact form input[type='submit'] {
	padding: 10px;
	color: #fff;
}

/* .welcome-title {
	display: none;
	background-color: var(--primary-color);
	text-align: center;
	color: rgb(148, 143, 143);
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	letter-spacing: 0.0625rem;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing 3.5s steps(40, end), welcome 0s ease-in 5s forwards;
} */

/* @keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes welcome {
	to {
		width: 0;
		height: 0;
	}
}
@-webkit-keyframes welcome {
	to {
		width: 0;
		height: 0;
		visibility: hidden;
	}
} */

/* @keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */
/* 
.opening {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 7.5rem;
	line-height: 6.5;
	margin: 0.625rem 0;
	width: 100%;
	z-index: 50;
	overflow: hidden;
} */

/* @media all and (max-width: 600px) {
	.opening {
		font-size: 6.38rem !important;
	}
} */

/* @media all and (max-width: 480px) {
	.opening {
		font-size: 6.6875rem !important;
	} */
/* .title {
		width: 150vw;
		transform: translateX(100%);
		animation: slide 9s linear forwards, welcome 0s ease-in 9s forwards;
	} */
/* } */

@keyframes slide {
	from {
		transform: translateX(60%);
	}
	to {
		transform: translateX(-100%);
	}
}

/* box-shadow: -3px -4px 7px 0px rgba(255,255,255,.25) inset, 0px 5px 10px 0px rgba(0,0,0,.1); */

/* .block {
	display: inline-block;
	height: 4.0625rem;
} */

/* .sentence {
	display: inline-block;
	color: var(--light-blue);
	font-size: 3.4375rem;
	font-weight: 700;
	margin-top: 75px;
	padding: 20px;
} */

/* .input-cursor {
	display: inline;
	width: 0.1875rem;
	height: 3.125rem;
	background-color: white;
	margin-left: 0.5rem;
	margin-bottom: -0.0625rem;
	animation: blink 0.6s linear infinite alternate;
} */

/* @keyframes blink {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
} */
/* #typedtext {
	min-height: 10rem;
} */

/* .typedtext::after {
	content: '';
	position: absolute;
	width: 0.625rem;
	height: 1%;
	border-bottom: 1px solid black;
	top: 1.25rem;
	animation: blink 0.65s infinite ease;
} */

/* @keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

/* a {
	color: var(--light-blue);
	text-decoration: none;
	transition-duration: 0.3s;
	cursor: pointer;
}

a:hover,
a:focus {
	text-decoration: none;
	opacity: 0.5;
	color: white;
} */

.button {
	border: none;
	border-radius: 12px;
	display: block;
	font-family: inherit;
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
	width: 75%;
	max-width: 18.75rem;
	text-align: center;
	margin: 3.75rem auto;
	padding: 0.625rem;
	border-radius: 3px;
	border-bottom: 0.125rem solid rgba(0, 0, 0, 0.3);
	transition: 0.9s ease;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.9;
}

.index_button:hover,
.index_button:focus {
	background-color: var(--secondary-color);
}

.primary_button,
.index_button {
	border: 2px solid var(--light-blue);
	font-size: 1.125rem;
	color: var(--light-blue);
	min-width: 17.25rem;
	margin: 0.75rem auto;
	padding: 1.25rem;
	border-bottom: 2px solid #772c64;
	border-right: 2px solid #772c64;
	cursor: pointer;
}
.primary_button {
	margin-bottom: 3.75rem;
}
@media all and (max-width: 560px) {
	.primary_button,
	.index_button {
		margin: 1.75rem auto;
		padding: 0.625rem;
	}
}
.button_out {
	margin: 5rem auto;
	grid-column: 3;
	grid-row: 2;
}
@media all and (max-width: 900px) {
	.button_out {
		grid-column: 2;
		grid-row: 4;
		margin: 3rem auto;
	}
}

.primary_button:hover,
.primary_button:focus {
	background-color: var(--secondary-color);
}

.button_secondary {
	background-color: var(--light-blue);
	border: 0.094rem solid var(--black);
	border-bottom: 0.125rem solid #030304;
}

.button_secondary:hover,
.button_secondary:focus {
	background-color: var(--secondary-color);
}

.page-header__item {
	flex: 0 1 12.5rem;
}

/* choose the last child of the parent to be right aligned. */
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.main-navigation {
	margin-right: 5.5rem;
	margin-top: 0.6rem;
	font-size: 1.25rem;
}

.mh-logo {
	border-radius: 35px;
	width: 4.1rem;
	height: 4.1rem;
	flex: 0;
	margin: 20%;
	z-index: 1000;
}

@media all and (max-width: 560px) {
	.mh-logo {
		width: 3rem;
		height: 3rem;
		margin-top: 3%;
	}
}

main {
	min-width: 2.813rem;
	margin: auto;
	text-align: center;
}
li {
	padding-bottom: 0.4375rem;
}

.page-footer {
	clear: both;
	display: block;
	flex-direction: column;
	position: relative;
	bottom: 0;
	background-color: var(--black);
	border-top: 0.125rem solid var(--grey);
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: -webkit- 15%;
	height: auto;
}

.social-media {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.social-media-icon {
	width: 2.625rem;
}

/* dropdown button */
.dropbtn {
	/* background-color: var(--primary-color);
	height: 3rem;
	width: 3rem;
	margin-right: -4rem;
	border: none; */

	/* position: relative;
	font-size: 1.2rem;
	line-height: 150%;
	float: right;
	margin-top: 5px; */
}

path:hover,
path:focus {
	/* fill: var(--light-blue); */
}
/* svg:hover,
svg:focus {
	cursor: pointer;
} */

/* container div needed to position the dropdown content */
.dropdown {
	/* position: relative;
	display: none;
	height: 2.188rem;
	margin-top: 0.063rem;
	margin-right: 0.625rem;
	border: none; */
}
@media all and (max-width: 800px) {
	/* .dropdown {
		display: inline-block;
	} */
}

/* dropdown content (hidden by default) */
/* .dropdown-content {
	opacity: 0;
	position: fixed;
	right: 0;
	
	bottom: 0;
	top: 0;
	border-radius: 3px;
	background-color: var(--black);
	width: 50%;
	height: 100vh;
	box-shadow: 45px 40px 40px white;
	z-index: 4;
	overflow: hidden;
	pointer-events: none; */
/* transition: opacity 100ms ease-in, transform 100ms ease-in; */
/* animation-duration: 3s;
	animation-name: slidein; */
/* } */

/* start of slide menu */
.menu a {
	/* text-decoration: none; */
	/* color: purple; */
	/* transition: 1s; */
	/* transform: translate3d(-150px, 0, 0);
	transition: transform 0.15s ease-in; */
}

.container {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	/* text-align: center; */
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

#menu {
	background-color: white;
	color: black;
	width: 50%;
	height: 100%;
	top: 0;
	position: fixed;
	right: -100vw;
	z-index: 900;
	box-shadow: 0 0 100px 115px var(--primary-color);
	transition-duration: 0.5s;
	transition: all 0.3s ease-in-out;
}
@media all and (max-width: 500px) {
	#menu {
		width: 100%;
		box-shadow: none;
	}
}

#menu.move {
	right: 0;
}

#menu ul {
	list-style: none;
	margin-top: 100px;
}

#menu li {
	font-size: 22px;
	padding: 25px 0;
	text-align: center;
	transition: 400ms;
}

#menu li:hover,
#menu li:focus {
	color: var(--primary-color);
	display: block;
	transform: scale(1.3);
}

.page-header__item ul {
	transform: translate3d(450px, 0, 0);
	transition: transform 0.45s ease-in;
}

.page-header__item.move ul {
	transform: translate3d(0, 0, 0);
	transition: transform 600ms ease-out;
}
.page-header__item.move ul li a:last-child {
	transition-delay: 0.8s;
}

.show {
	display: block !important;
	opacity: 1;
	pointer-events: auto;
}

.hide {
	display: none;
	opacity: 0;
	pointer-events: none;
}

.header-text {
	position: relative;
	padding: 2.8125rem 0;
	width: 100%;
	background-color: var(--primary-color);
	-webkit-box-shadow: 1px 6px 63px 8px rgba(31, 40, 51, 0.71);
	box-shadow: 1px 6px 63px 8px rgba(31, 40, 51, 0.71);
	z-index: 2;
}

.position-wrapper {
	position: relative;
	margin: auto;
}

@media all and (max-width: 900px) {
	.header-text {
		justify-content: center;
		width: auto;
	}
}

.border {
	border: 1px solid var(--secondary-color) !important;
	border-radius: 3px;
}

.display-block {
	display: block;
}

.text-left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.btn-projects {
	color: white;
	background-color: var(--light-blue);
	/* border-color: var(--primary-color); */
	/* background-color: var(--light-blue);
	color: var(--black); */
	font-size: 0.875rem;
	height: 1.5625rem;
	width: 5.9375rem;
	padding: 0.0625rem;
	border-radius: 3px;
	border: 1px solid var(--primary-color);
	display: inline-block;
	margin: 0.3125rem auto;
}
.btn-projects:hover,
.btn-projects:focus {
	color: white !important;
	background-color: var(--primary-color);
	border-color: var(--light-blue);
}

.links-btn {
	margin-bottom: 0.625rem;
	color: var(--light-blue);
	background-color: var(--primary-color);
	border: 1px solid var(--secondary-color);
	padding: 0.4375rem;
	width: 6.6875rem;
	border-radius: 10px;
}

.links-btn:hover {
	color: white;
	border: 1px solid #fff;
	margin-left: -10px;
}

.carousel {
	width: 100%;
	max-width: 600px;
	text-align: center;
	margin: 0.625rem auto;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
	display: block !important;
}

.carousel-indicators {
	z-index: 2;
}

.carousel-img {
	text-align: center !important;
	margin: 3.125rem auto !important;

	max-height: 500px;
	width: auto;
}

.chat-carousel {
	text-align: center !important;
	margin: 3.125rem auto !important;
	height: 18.75rem;
}
